* {
	margin: 0;
	padding: 0;

}

body{
	height: 100%;
	max-width: 100%;
	font-family: 'Source Sans Pro', sans-serif, arial;
	background-color: #ffe207;
}
.navbar{
	margin-top: 0;
	background-color: #303133;
	text-align: right;
	list-style: none;
	padding: 20px;
}

.navbar img{
	padding-left: 20px;
	float: left;
	padding-top: 0;
}
.navbar ul li {
	display: inline-block;
	padding-right: 20px;
}

.navbar li a{
	text-decoration: none;
	color: #fff;
}

.navbar li a:hover{
	color: #c1c1c1;
}

.container{
	display: grid;
	grid-template-areas: ". content ."
}
.content{
	grid-area: content;
	text-align: center;
}
.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: #303133;
	text-align: center;
}
.footer p{
	color: #fff;
	font-size: 11pt;
}

.big-search{
	width: 1000px;
	max-width: 100%;
	margin: auto;
	margin-top: 120px;
}

.sm-select{
	width: 20%;
	padding: 10px;
	font-size: 20px;
	/*rounded search bar*/
	border-radius: 50px;
	-webkit-border-radius: 50px;	/*for chrome & safari*/
	-moz-border-radius: 50px;	/*for firefox*/
	/*bottom color of the search bar*/
	border-bottom-color: blue;
	-moz-border-bottom-color: blue;
}
.sm-textarea{
	width: 20%;
	padding: 5px;
	font-size: 15px;
	/*rounded search bar*/
	border-radius: 10px;
	-webkit-border-radius: 10px;	/*for chrome & safari*/
	-moz-border-radius: 10px;	/*for firefox*/
	/*bottom color of the search bar*/
	border-bottom-color: blue;
	-moz-border-bottom-color: blue;
}
.sm-form{
	width: 20%;
	padding: 5px;
	font-size: 15px;
	/*rounded search bar*/
	border-radius: 50px;
	-webkit-border-radius: 50px;	/*for chrome & safari*/
	-moz-border-radius: 50px;	/*for firefox*/
	/*bottom color of the search bar*/
	border-bottom-color: blue;
	-moz-border-bottom-color: blue;
}

.search{
	width: 60%;
	padding: 10px;
	font-size: 20px;
	/*rounded search bar*/
	border-radius: 50px;
	-webkit-border-radius: 50px;	/*for chrome & safari*/
	-moz-border-radius: 50px;	/*for firefox*/
	/*bottom color of the search bar*/
	border-bottom-color: blue;
	-moz-border-bottom-color: blue;
}

.submit{
	width: 15%;
	padding: 10px;
	font-size: 20px;
	background-color: #595959;
	color: #fff;
	/*rounded search bar*/
	border-radius: 50px;
	-webkit-border-radius: 50px;	/*for chrome & safari*/
	-moz-border-radius: 50px;	/*for firefox*/
	cursor: pointer;
}
.delete{
	background-color: #e25248;
}
.delete:hover{
	background-color: #ad554f;
	cursor: pointer;
}
.edit{
	background-color: #115dc1;
	cursor: pointer;
	color: #fff;
}
.edit:hover{
	background-color: #417dcc;
}
.submit:hover{
	color: #c1c1c1;
}
.table{
	margin: 0 0 40px 0;
  	width: 100%;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  	display: table;
  	/* @media screen and (max-width: 580px); */
    display: block;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .3s;
    padding-top: 60px;
    z-index: 2;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    
}
#body_bg
{ 
background-color:#303133; 
}

#login-form{ 

background:#ffe207; 
border: 3 px solid #eeeee; 
padding:5%;
width:30%;
border-radius:5px; 
 
}
.vertical{
	cursor: pointer;
	z-index: 1;
	position: fixed;
	margin-left: 1.5%;
	font-size: 24pt;
	transform: rotate(90deg);
	transform-origin: 0;
}

.poster1{/*boxes or frames for display of movie posters*/
	position:fixed;
	top:320px;
	left:120px;
	right:;
	bottom:;
	width: 200px;
	height: 300px;
	border: 3px solid white;
}

.poster2{
	position:fixed;
	top:320px;
	left:345px;
	right:;
	bottom:;
	width: 200px;
	height: 300px;
	border: 3px solid white;
}

.poster3{
	position:fixed;
	top:320px;
	left:570px;
	right:;
	bottom:;
	width: 200px;
	height: 300px;
	border: 3px solid white;
}

.poster4{
	position:fixed;
	top:320px;
	left:795px;
	right:;
	bottom:;
	width: 200px;
	height: 300px;
	border: 3px solid white;
}

.poster5{
	position:fixed;
	top:320px;
	left:1020px;
	right:;
	bottom:;
	width: 200px;
	height: 300px;
	border: 3px solid white;
}

.poster{
	position:fixed;
	top:320px;
	left:120px;
	right:;
	bottom:;
	width: 100%;
	height: 300px;
	border: 3px solid black;
}
/*Box.css*/
/*CSS div tag for find1.php to display records of movies*/
div.main {
	position:absolute;
	top:300px;
	left:50px;
	right:0;
	bottom:;
    width: 1250px;
	height: px;
    border: 1px solid gray;
}

div.mid {
	position:relative;
	top:50px;
	left:90px;
	right:;
	bottom:;
    width: 200px;
	height: 300px;
    
	border-radius: 5px
}
.mid-MovDet {
	position:relative;
	top:50px;
	left:90px;
	right:;
	bottom:;
    width: 300px;
	height: 450px;
    border: 3px solid white;
	border-radius: 5px
	
}
	
div.mname {
	position:relative;
	top:45px;
	left:100px;
	right:;
	bottom:;
    width: 350px;
	height: 50px;
    border: 1px solid gray;
	background-color:#E6E6FA;
	border-radius: 10px;
}

.mname p{
	
	font-size: 20px;
	padding-top: 15px;
	padding-left: 10px;
}

div.next {
	position:relative;
	top:50px;
	left:px;
	right:;
	bottom:;
    width: 30px;
	height: 30px;
    border:;
}

div.msyn {
	position:relative;
	top:53px;
	left:100px;
	right:;
	bottom:;
    width: 350px;
	height: 240px;
    border: 1px solid gray;
	background-color: #E6E6FA;
	border-radius: 10px;
}

.msyn-MovDet{
	position:relative;
	top:53px;
	left:100px;
	right:;
	bottom:;
    width: 50%;
	height: 100%;
    border: 1px solid gray;
	background-color: #E6E6FA;
	border-radius: 10px;

}
.msyn-MovDet ul li{
	margin-top: 5px;
	font-style: italic;
	font-size: 12pt;
	list-style:none;
	padding: 0 0 0 30px;
}

.msyn-MovDet ol li{
	margin-top: 5px;
	padding: 0 20px 20px 20px;
	font-size: 19px;
	text-overflow: ellipsis;
	list-style:none;
}

.msyn ul li{
	margin-top: 5px;
	padding-left: 10px;
	font-style: italic;
	font-size: 13px;
	list-style:none;
}

.msyn ol li{
	margin-top: 5px;
	padding-left: 10px;
	font-size: 15px;
	text-overflow: ellipsis;
	list-style:none;
}

div.emp {
	position:relative;
	top:3520px;
	left:;
	right:;
	bottom:px;
    width: 500px;
	height: 120px;
    border:;
}

div.mor {
	position:relative;
	top:48px;
	left:235px;
	right:;
	bottom:;
    width: 100px;
	height: 30px;
    border: ;
}

.mor form input{
	width: 100px;
	height: 30px;
	background-color: #c0f2f2;
	border-radius: 10px
}

table, td, th {
    /*border: 1px solid #ddd;*/
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    
    padding: 1%;

}
th{
  background-color: #000;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
form{
	z-index: 0;
}

.poster{/*boxes or frames for display of movie posters*/
	
	right:50px;
	display: inline-block;
    background-size: 100% 100%;
    border-radius: 3px;
	width: 220px;
	height: 320px;
	border: 5px solid white;
}
