* {
	margin: 0;
	padding: 0;

}

body{
	height: 100%;
	max-width: 100%;
	font-family: 'helvetica', Arial;
	background-color: #ffe207;
}
.navbar{
	margin-top: 0;
	background-color: #303133;
	text-align: right;
	list-style: none;
	padding: 20px;
}

.navbar img{
	padding-left: 20px;
	float: left;
	padding-top: 0;
}
.navbar ul li {
	display: inline-block;
	padding-right: 20px;
}

.navbar li a{
	text-decoration: none;
	color: #fff;
}

.navbar li a:hover{
	color: #c1c1c1;
}

.container{
	display: grid;
	grid-template-areas: ". content ."
}
.content{
	grid-area: content;
	text-align: center;
}
.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: #303133;
	text-align: center;
}
.footer p{
	color: #fff;
	font-size: 11pt;
}

.big-search{
	width: 1000px;
	max-width: 100%;
	margin: auto;
	margin-top: 120px;
}

.sm-select{
	width: 20%;
	padding: 10px;
	font-size: 20px;
	/*rounded search bar*/
	border-radius: 50px;
	-webkit-border-radius: 50px;	/*for chrome & safari*/
	-moz-border-radius: 50px;	/*for firefox*/
	/*bottom color of the search bar*/
	border-bottom-color: blue;
	-moz-border-bottom-color: blue;
}

.sm-form{
	width: 20%;
	padding: 5px;
	font-size: 15px;
	/*rounded search bar*/
	border-radius: 50px;
	-webkit-border-radius: 50px;	/*for chrome & safari*/
	-moz-border-radius: 50px;	/*for firefox*/
	/*bottom color of the search bar*/
	border-bottom-color: blue;
	-moz-border-bottom-color: blue;
}

.search{
	width: 60%;
	padding: 10px;
	font-size: 20px;
	/*rounded search bar*/
	border-radius: 50px;
	-webkit-border-radius: 50px;	/*for chrome & safari*/
	-moz-border-radius: 50px;	/*for firefox*/
	/*bottom color of the search bar*/
	border-bottom-color: blue;
	-moz-border-bottom-color: blue;
}

.submit{
	width: 15%;
	padding: 10px;
	font-size: 20px;
	background-color: #595959;
	color: #fff;
	/*rounded search bar*/
	border-radius: 50px;
	-webkit-border-radius: 50px;	/*for chrome & safari*/
	-moz-border-radius: 50px;	/*for firefox*/
}
.delete{
	background-color: #e25248;
}
.delete:hover{
	background-color: #ad554f;
	cursor: pointer;
}
.edit{
	background-color: #115dc1;
	cursor: pointer;
	color: #fff;
}
.edit:hover{
	background-color: #417dcc;
}
.submit:hover{
	color: #c1c1c1;
}
.table{
	margin: 0 0 40px 0;
  	width: 100%;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  	display: table;
  	/* @media screen and (max-width: 580px); */
    display: block;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    
}
#body_bg
{ 
background-color:#303133; 
}

#login-form{ 

background:#ffe207; 
border: 3 px solid #eeeee; 
padding:5%;
width:30%;
border-radius:5px; 
 
}
.vertical{
	cursor: pointer;
	z-index: -1;
	margin-left: 1.5%;
	font-size: 24pt;
	transform: rotate(90deg);
	transform-origin: 0;
}