table, td, th {
    /*border: 1px solid #ddd;*/
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    background-color:#f2d100;
    padding: 1%;

}
th{
  background-color: #000;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
